CompileFlags:
  Add: [-mlong-calls, -Wno-unknown-type-name, -I/home/simonk/esp/esp-idf/components/linux/linux_include, --sysroot=/home/simonk/Downloads/esp/llvm-project/clang/clang/include]
  Remove: [-fno-tree-switch-conversion, -mtext-section-literals, -mlongcalls, -fstrict-volatile-bitfields, -fno-shrink-wrap]
  Compiler: gcc               # Change argv[0] of compile flags to `clang++`
