CompileFlags:
  Add: [-Wno-unknown-type-name, -I/home/simonk/esp/esp-idf/components/linux/linux_include, -isysroot=/home/simonk/.espressif/tools/xtensa-esp-elf/esp-13.2.0_20240305/xtensa-esp-elf ]
  Remove: [-fno-tree-switch-conversion, -mtext-section-literals, -mlongcalls, -fstrict-volatile-bitfields, -fno-shrink-wrap]
