CompileFlags:
  Add: [-mlong-calls, -Wno-unknown-type-name, --sysroot=/home/simonk/Downloads/esp/llvm-project/clang/clang/include]
  Remove: [-fno-tree-switch-conversion, -mtext-section-literals, -mlongcalls, -fstrict-volatile-bitfields, --fno-shrink-wrap]
